<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---home CSS File--->
    <link rel="stylesheet" href="/src/main/resources/static/css/Modulo di registrazione.css" />
  </head>
  <body>
    <section class="container">
      <header>Modulo di registrazione</header>
      <form action="#" class="form">
        <div class="input-box">
          <label>Nome e cognome</label>
          <input type="text" placeholder="Nome e Cognome" required />
        </div>
        <div class="input-box">
          <label>Email</label>
          <input type="text" placeholder="Inserisci l'indirizzo Email" required />
        </div>
        <div class="column">
          <div class="input-box">
            <label>Numero di telefono</label>
            <input type="number" placeholder="Inserisci il numero di telefono" required />
          </div>
          <div class="input-box">
            <label>Data di nascita</label>
            <input type="date" placeholder="Inserisci la data di nascita" required />
          </div>
        </div>
        <div class="gender-box">
          <h3>Genere</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="gender" checked />
              <label for="check-male">Maschio</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">Femmina</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-other" name="gender" />
              <label for="check-other">Preferisco non dirlo</label>
            </div>
          </div>
        </div>
        <div class="input-box address">
          <label>Indirizzo</label>
          <input type="text" placeholder="Inserisci l'indirizzo " required />
          <div class="column">
            <div class="select-box">
              <select>
                <option hidden>Cita</option>
                <option>Milano</option>
                <option>Napoli</option>
                <option>Roma</option>
                <option>Sicilia</option>
              </select>
            </div>
            <input type="text" placeholder="Inserisci la tua città" required />
          </div>
          <div class="column">
            <input type="text" placeholder="Inserisci la tua regione" required />
            <input type="Cap" placeholder="Inserisci il codice postale" required />
          </div>
        </div>

        <div class="input-box Lesione">
          <label>Nome del corso</label>
          <input type="text" placeholder="Inserire il nome di un corso " required />
          <div class="column">
            <div class="select-box">
              <select>
                <option hidden>Corsi</option>
                <option>Java</option>
                <option>Python</option>
                <option>C#</option>
                <option>C++</option>
                <option>JS</option>
                <option>Html</option>
                <option>Java 2</option>
              </select>
            </div>
            <input type="text" placeholder="Inserire il nome di un corso" required />
          </div>
        </div>
        <button>Invia</button>
      </form>
    </section>
  </body>
</html>