body {
    background: linear-gradient(rgba(198, 198, 198, 0.2), #414f37), url('/img/smartphone-laptop-near-notebook-wooden-desk.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--background-color);
    color: var(--text-color);
}

:root {
    --background-color: #f9f8f7;
    --text-color: #373737;
    --table-divider-color: #e2e2e1;
    --button-color: #acce91;
    --button-hover-color: #8db986;
    --link-hover-color: #588a50;
    --logout-hover-color: #ff4d4d;
    --font-size-menu: 18px;
    --accent-color: #198754;
    /* Aggiungi questa variabile per la dimensione del font del menu */
}




.navbar2 {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.navbar2 a {
    margin-left: 10px;
}

.navbar2 a.btn-primary {
    background-color: var(--button-color);
    border: none;
}

.navbar2 a.btn-primary:hover {
    background-color: var(--button-hover-color);
}

.navbar2 a.btn-warning {
    border: none;
}

.navbar2 a.btn-warning:hover {
    background-color: var(--logout-hover-color);
}


.card {
    margin-top: 20px;
    border: 1px solid var(--table-divider-color);
}

.card-header {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--table-divider-color);
}

.card-header h2 {
    color: var(--text-color);
}

.card-body {
    background-color: var(--background-color);
}

.btn-vuoto-primary {
    border-color: var(--button-color);
    color: var(--button-color);
}

.btn-vuoto-primary.active {
    border-color: black;
    --text-color: white;
    color: var(--text-color);
    background-color: #6f6f6f;
}

.btn-vuoto-primary:hover {
    background-color: var(--button-hover-color);
    color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(252, 252, 254, 0.5) !important;
}

.carousel-control-prev svg,
.carousel-control-next svg {
    fill: black;
}

.card-footer {
    background-color: var(--background-color);
    border-top: 1px solid var(--table-divider-color);
    text-align: center;
}

.card-footer .btn-primary {
    background-color: var(--button-color);
    border: none;
}

.card-footer .btn-primary:hover {
    background-color: var(--button-hover-color);
}

.card-footer .btn-outline-secondary {
    border-color: var(--button-color);
    color: var(--button-color);
}

.card-footer .btn-outline-secondary:hover {
    background-color: var(--button-hover-color);
    color: #fff;
}

.form-check .form-radio-input {
    margin-right: 10px;
    accent-color: var(--accent-color);
    cursor: pointer;
}

.form-check .form-radio-label {
    color: var(--text-color);
    cursor: pointer;
}

#chronometer {
    font-size: 1.5rem;
    font-weight: bold;
}