@import url('root.css');

/* Navbar */
nav {
    background-color: var(--text-color); /* Usa la variabile di colore definita in root.css */
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 0;
}

ul.navbar {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    gap: 15px;
}

ul.navbar > li {
    display: inline-block;
    font-size: 14px;
    padding: 0;
    position: relative;
}

ul.navbar > li > a {
    color: var(--background-color); /* Usa la variabile di colore definita in root.css */
    display: block;
    padding: 20px 15px;
    border-bottom: 3px solid transparent;
    transition: color .3s ease, border-bottom .3s ease;
}

ul.navbar > li:hover > a {
    color: var(--link-hover-color); /* Usa la variabile di colore definita in root.css */
    border-bottom: 3px solid var(--link-hover-color); /* Usa la variabile di colore definita in root.css */
}

/* Dropdown Menu */
.mega-menu {
    background: var(--background-color); /* Usa la variabile di colore definita in root.css */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
}

.mega-menu h3 {
    color: var(--text-color); /* Usa la variabile di colore definita in root.css */
}

.mega-menu .container {
    display: flex;
}

.mega-menu .item {
    flex-grow: 1;
    margin: 0 10px;
}

.mega-menu .item img {
    width: 100%;
}

.mega-menu a {
    border-bottom: 1px solid var(--table-divider-color); /* Usa la variabile di colore definita in root.css */
    color: var(--link-color); /* Usa la variabile di colore definita in root.css */
    display: block;
    padding: 10px 0;
}

.mega-menu a:hover {
    color: var(--link-hover-color); /* Usa la variabile di colore definita in root.css */
}

.dropdown {
    position: static;
}

.dropdown:hover .mega-menu {
    visibility: visible;
    opacity: 1;
}

/* Logout Button */
.btn-logout {
    background-color: var(--button-color); /* Usa la variabile di colore definita in root.css */
    border: none;
    color: var(--text-color); /* Usa la variabile di colore definita in root.css */
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: var(--logout-hover-color); /* Usa la variabile di colore definita in root.css */
}

/* Ensure the button is aligned to the right */
.ml-auto {
    margin-left: auto;
}
