:root {
    --background-color: #f9f8f7;
    --text-color: #373737;
    --table-divider-color: #e2e2e1;
    --button-color: #acce91;
    --button-hover-color: #8db986;
    --link-hover-color: #588a50;
    --logout-hover-color: #ff4d4d;
    --active-link-color: #8db986;
    --navbar-bg-color: #373737;
    --logout-button-color: #123d12;
    --accent-color: #198754;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}



.main-content {
    margin-left: 270px; /* Lascia spazio per la navbar */
    padding: 20px;
    width: calc(100% - 270px); /* Rimuovi la larghezza della navbar */
}

.card {
    border: 1px solid var(--table-divider-color);
    border-radius: 5px;
}

.card-header {
    background-color: var(--accent-color);
    color: white;
    padding: 10px 15px;
    border-bottom: 1px solid var(--table-divider-color);
}

.card-body {
    padding: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--table-divider-color);
    border-radius: 5px;
}

.btn-secondary {
    background-color: var(--button-color);
    color: white;
    border: none;
}

.btn-secondary:hover {
    background-color: var(--button-hover-color);
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--text-color);
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid var(--table-divider-color);
}

.table thead th {
    background-color: var(--accent-color);
    color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--background-color);
}

