body {
    background: linear-gradient(rgba(198, 198, 198, 0.2), #414f37), url('/img/smartphone-laptop-near-notebook-wooden-desk.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--background-color);
    color: var(--text-color);
}
:root {
    --background-color: #f9f8f7;
    --text-color: #373737;
    --table-divider-color: #e2e2e1;
    --button-color: #acce91;
    --button-hover-color: #8db986;
    --link-hover-color: #588a50;
    --logout-hover-color: #ff4d4d;
    --font-size-menu: 18px; /* Aggiungi questa variabile per la dimensione del font del menu */
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.navbar a {
    margin-left: 10px;
}

.navbar a.btn-primary {
    background-color: var(--button-color);
    border: none;
}

.navbar a.btn-primary:hover {
    background-color: var(--button-hover-color);
}

.navbar a.btn-warning {
    border: none;
}

.navbar a.btn-warning:hover {
    background-color: var(--logout-hover-color);
}


/* Center content and cards */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.card-body {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
   
}

.card {
    width: 100%;
    
}

/* Table styling */
#tab-last-quest th,
#tab-last-quest td {
    text-align: center;
}

/* General styles */
h2 {
    color: var(--text-color);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--table-divider-color);
}

.table-bordered {
    border: 1px solid var(--table-divider-color);
}

.table-bordered th,
.table-bordered td {
    border: 1px solid var(--table-divider-color);
}

/* Button styling */
.btn-primary {
    background-color: var(--button-color);
    border: none;
    color: var(--text-color);
}

.btn-primary:hover {
    background-color: var(--button-hover-color);
}

.btn-warning {
    border: none;
    color: var(--text-color);
}

.btn-warning:hover {
    background-color: var(--logout-hover-color);
}

.btn-secondary {
    background-color: var(--button-color);
    border: none;
    color: var(--text-color);
}

.btn-secondary:hover {
    background-color: var(--link-hover-color);
}

/* Responsive styling */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .card-body {
        width: 100%;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .card {
        margin-bottom: 20px;
    }
}
