/* Stile globale per il reset del CSS */

:root {
  --colore-primario: #272343;
  --colore-secondario: #ffffff;
  --colore-terziario: #e3f6f5;
  --colore-quadro: #bae8e8;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Stile per il corpo del documento */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Corretto da min-width a min-height */
  background: #ffa500;
  transition: 0.5s;
}

/* Stile per il corpo quando è attiva */
body.active {
  background: #03a9f4;
}

/* Stile per il contenitore principale */
.container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 20px;
}

/* Stile per il background arancione */
.orangeBG {
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 420px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

/* Stile per ogni box all'interno del background arancione */
.orangeBG .box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Stile per il box del form */
.form-box {
  position: absolute;
  background: #fff;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: ease-in-out 0.5s;
  overflow: hidden;
}

/* Stile per il box del form quando attivo */
.form-box.active {
  left: 50%;
}

/* Stile per il titolo dei box */
.box h2 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

/* Stile per i pulsanti nei box */
.orangeBG .box button {
  padding: 10px 20px;
  background: #fff;
  color: black;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

/* Stile per i form all'interno dei box */
.form-box .form {
  position: absolute;
  width: 80%;
  transition: 0.5s;
  padding: 50px;
}

.form-box .signinform {
  transition-delay: 0.25s;
}

.form-box.active .signinform {
  left: -100%;
  transition-delay: 0;
}

.form-box .signupform {
  left: 100%;
  transition-delay: 0;
}

.form-box.active .signupform {
  left: 0;
  transition-delay: 0.25s;
}

/* Stile per i form */
.form-box .form form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* Stile per gli input nei form */
.form form input {
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  border: 1px solid #333;
}

/* Stile per il titolo dei form */
.form form h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 20px;
}

/* Stile per il pulsante di invio nei form */
.form form input[type="submit"] {
  background: #ffa500;
  border: none;
  max-width: 100px;
  color: #fff;
  cursor: pointer;
}

/* Stile per il pulsante di invio nella registrazione */
.form form input[value="Registrati"] {
  background: #03a9f4;
  border: none;
  max-width: 100px;
  color: #fff;
  cursor: pointer;
}

/* Stile per i link */
a {
  color: #333;
  font-size: 14px;
}

.hidden {
  display: none;
}