/* Main content */
main.content {
    margin-left: 220px; /* lascia spazio per la navbar */
    padding: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}



.card {
    border: 1px solid var(--table-divider-color);
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid var(--table-divider-color);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-body {
    padding: 1.25rem;
}

.list-group-item {
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--table-divider-color);
}

/* Custom button */
.btn-custom {
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: var(--background-color);
}

.btn-custom:hover {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-color);
}

.btn.float-end {
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: var(--background-color);
    transition: background-color 0.3s ease;
}

.btn.float-end:hover {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-color);
}