<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esiti</title>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="img/RAD_Favicon.webp">
</head>
<body>


    <div>
        <form action="/esiti" method="get" id="form1">

            <select name="type">
                <option disabled selected> -Selezione un elemento- </option>
                <option value="I"> Ingresso </option>
                <option value="C"> Corso </option>
            </select>

            <label for="data_inizio">Data Inizio</label>
            <input type="date" id="data_inizio" name="data_inizio">

            <label for="data_fine">Data Fine</label>
            <input type="date" id="data_fine" name="data_fine">

            <label for="area">Nome-Cognome</label>
            <input type="text" id="stringa" name="area">

        </form>  
        <button type="submit" form="form1" value="Submit">Submit</button>
    </div>
    <br>

    <div>
    <h1>Lista</h1>



    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Titolo</th>
                <th>Data</th>
                <th>Punteggio</th>
                <th>Tempo</th>
                <th>Utente</th>
                <th>Questionario</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="questionari : ${listaEsitiQuestionari}">
                <td th:text="${questionari.Quest.categoriequest.nome}"></td>
                <td th:text="${questionari.Quest.titolo}"></td>
                <td th:text="${questionari.dataEsecuzione}"></td>
                <td th:text="${questionari.punteggio}"></td>
                <td th:text="${questionari.tempo}"></td>
                <!--<td th:text="|${questionari.studente.nome} ${questionari.studente.cognome} "></td>-->
                <td ><button type="button" class="btn btn-primary  w-75">Vedi</button></td>
            </tr>
        </tbody>
    </table>




    <script src="jquery/jquery-3.7.1.min.js"></script>
    <script src="bootstrap/popper.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>