<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studenti</title>
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">

</head>

<body>
    <div class="d-flex justify-content-end">
        <form action="/auth/logout" method="get">
            <button type="submit" id="logoutBtn">Logout</button>
        </form>
    </div>

    <div class="main-content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/homeAdmin/">Home</a></li>
                <li class="breadcrumb-item"><a href="#homeSubmenu1" data-bs-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Questionari</a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu1">
                        <li><a href="/quest/esiti">Gestione Categorie</a></li>
                        <li><a href="/quest/esiti">Gestione Questionari</a></li>
                        <li><a href="/quest/esiti">Esito Questionari</a></li>
                        <li><a href="/quest/esiti">Esito Ultimi Questionari</a></li>
                    </ul>
                </li>
                <li class="breadcrumb-item"><a href="#homeSubmenu2" data-bs-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Corsi</a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu2">
                        <li><a href="/ges_corsi/">Elenco Corsi</a></li>
                        <li><a href="/ges_corsi/">Ricerca Corsi</a></li>
                        <li><a href="/ges_corsi/">Aggiungi Nuovo Corso</a></li>
                        <li><a href="/homeAdmin/calendario">Calendario Corsi</a></li>
                    </ul>
                </li>
                <li class="breadcrumb-item"><a href="/homeAdmin/calendario">Calendario</a></li>
            </ol>
        </nav>
    </div>

    <div class="main-content">
        <div class="custom-margin">
            <div class="table-wrapper">
                <div class="card">
                    <div class="card-header">
                        <h5>Filtri Ricerca</h5>
                    </div>
                    <div class="card-body">
                        <form action="/ges_studenti/" id="searchForm">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="nome">Nome Utente</label>
                                        <input type="text" class="form-control" name="nome" id="myInput"
                                            placeholder="Inserisci il nome dello studente">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="ruolo">Ruolo</label>
                                        <select name="ruolo" class="custom-select" id="ruolo"
                                            aria-label="Seleziona il ruolo">
                                            <option disabled selected>- Seleziona un elemento -</option>
                                            <option value="I">Studente</option>
                                            <option value="C">Guest</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="corso">Corso</label>
                                        <select name="corso" class="custom-select" id="corso"
                                            aria-label="Seleziona un corso">
                                            <option disabled selected>- Seleziona un elemento -</option>
                                            <option value="Nessuno">-Nessuno-</option>
                                            <option value="Gol Aprile 2024">Gol Aprile 2024</option>
                                            <option value="Gol Ottobre 2023">Gol Ottobre 2023</option>
                                            <option value="Fondo Impresa 2023">Fondo Impresa 2023</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="custom-margin">
            <div class="table-wrapper">
                <div class="table-wrapper">
                    <div class="card">
                        <div class="table-title">
                            <div class="row">
                                <div>
                                    <h2 class="card-header">Elenco Studenti</h2>
                                </div>
                                <div class="col-sm-12 p-0 flex justify-content-lg-start justify-content-center">
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                        data-bs-target="#addStudentModal">
                                        <i class="material-icon">&#xE147;</i>
                                        <span>Aggiungi nuovo studente</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="studentTable" class="table table-striped table-bordered table-sm"
                            style="width: 100%;">
                            <thead>
                                <tr>
                                    <th name="nome" id="myInput">Ruolo</th>
                                    <th name="nome" id="myInput">Nominativo</th>
                                    <th name="nome" id="myInput">Email</th>
                                    <th>Corso</th>
                                    <th class="text-center">Dettaglio</th>
                                    <th class="text-center">Questionari</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="stud : ${studenti}">
                                    <td></td> <!-- th:text="${stud.user.ruolo}"-->
                                    <td th:text="${stud.nome + ' ' + stud.cognome}"></td>
                                    <td></td> <!-- th:text="${stud.user.usernameEmail}"-->
                                    <td th:text="${stud.corso != null ? stud.corso.nome : ''}"></td>
                                    <td class="d-flex justify-content-center align-items-center">
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#modDetailModal" onclick="populateModal(this)"
                                            data-student-id="${stud.idStudente}" data-student-nome="${stud.nome}"
                                            data-student-cognome="${stud.cognome}"
                                            data-student-email="${stud.user.usernameEmail}"
                                            data-student-corso="${stud.corso != null ? stud.corso.idCorso : ''}"
                                            data-student-datanascita="${stud.dataNascita}">
                                            Modifica

                                            <!--   th:data-student-id="${stud.idStudente}"
                                            th:data-student-nome="${stud.nome}"
                                            th:data-student-cognome="${stud.cognome}"
                                            th:data-student-email="${stud.user.usernameEmail}"
                                            th:data-student-corso="${stud.corso != null ? stud.corso.idCorso : ''}"
                                            th:data-student-datanascita="${stud.dataNascita}"
                                            th:data-student-ruolo="${stud.user.ruolo}"  -->
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#questionariModal"
                                            th:onclick="vediQuest([[${stud.esquestionari}]])">Vedi</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

    <!-- Inizio pagine dinamiche   -->
    <div class="text-center">
        <button onclick="prevPage()" class="btn btn-secondary" id="btn_prev">Precedente</button>
        <span>Pagina <span id="page"></span> di <span id="totalPages"></span></span>
        <button onclick="nextPage()" class="btn btn-secondary" id="btn_next">Successivo</button>
    </div>
    <!-- fine pagine dinamiche   -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="footer-in pagination justify-content-center">
                <p class="mb-0">&copy; 2024 Rete Artigianato Digitale.</p>
            </div>
        </div>
    </footer>

    <!-- Modale Aggiungi Studente -->
    <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/ges_studenti/savestud" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addStudentModalLabel">Aggiungi Studente</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">x</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" name="nome" required>
                        </div>
                        <div class="form-group">
                            <label>Cognome</label>
                            <input type="text" class="form-control" name="cognome" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>Corso</label>
                            <select name="corso" class="form-control" required>
                                <option disabled selected>- Seleziona un corso -</option>
                                <tr th:each="corso : ${corsi}">
                                    <option th:value="${corso.idCorso}" th:text="${corso.nome}"></option>
                                </tr>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        <button type="submit" class="btn btn-success">Salva</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modale Modifica Studente -->
    <div th:each="studente : ${studenti}" class="modal fade" id="modDetailModal" tabindex="-1" role="dialog"
        aria-labelledby="modDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <form action="/ges_studenti/savestud" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modDetailModalLabel">Modifica Studente</h5>
                        <button type="reset" class="close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <div class="modal-body">
                        <!-- ID Studente, Ruolo-->
                        <div class="form-group  "><!-- row -->
                            <div class="col-md-6 ">
                                <label>ID Studente</label>
                                <input type="text" readonly class="form-control-plaintext" name="studId" id="studId"
                                    required>
                            </div>
                            <div class="col-md-6">
                                <label>Ruolo</label>
                                <select name="ruolo" class="form-control" required>
                                    <option value="studente">Studente</option>
                                    <option value="guest">Guest</option>
                                </select>
                            </div>
                        </div>

                        <!-- Nome, Cognome, Data di Nascita -->
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" th:value="${studente.nome}" name="nome"
                                    id="nome">
                            </div>
                            <div class="col-md-4">
                                <label for="cognome">Cognome</label>
                                <input type="text" class="form-control" th:value="${studente.cognome}" name="cognome"
                                    id="cognome">
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="dataNascita">Data di Nascita</label>
                                <input type="date" class="form-control" th:value="${studente.dataNascita}"
                                    name="dataNascita" id="dataNascita">
                            </div>
                        </div>

                        <!-- Email, Password, Corso -->
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email">
                            </div>
                            <div class="col-md-4">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="col-md-4">
                                <label>Corso</label>
                                <select name="corso" class="form-control" required>
                                    <option th:each="corso : ${corsi}" th:value="${corso.idCorso}"
                                        th:text="${corso.nome}"
                                        th:selected="${studente.corso != null && studente.corso.idCorso == corso.idCorso}">
                                    </option>
                                </select>
                            </div>
                        </div>


                        <!--    <select th:each="studente : ${studenti}" class="form-control" required>
                                    <option th:each="corso : ${corsi}" th:value="${corso.idCorso}" th:text="${corso.nome}"
                                        th:selected="${studente.corso.idCorso == corso.idCorso}">
                                    </option>
                                </select>-->

                        <!--  <select name="corso" class="form-control" id="corso" required>
                                    <option th:each="corso : ${corsi}"></option>
                                    <tr th:each="corso : ${corsi}">
                                        <option th:value="${corso.idCorso}" th:text="${corso.nome}"></option>
                                    </tr>
                                </select> -->
                        <!-- CAP, Provincia, Telefono -->
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="cap">CAP</label>
                                <input type="text" class="form-control" th:value="${studente.cap}" name="cap" id="cap">
                            </div>
                            <div class="col-md-4">
                                <label for="provincia">Provincia</label>
                                <input type="text" class="form-control" th:value="${studente.provincia}"
                                    name="provincia" id="provincia">
                            </div>
                            <div class="col-md-4">
                                <label for="telefono">Telefono</label>
                                <input type="text" class="form-control" th:value="${studente.telefono}" name="telefono"
                                    id="telefono">
                            </div>
                        </div>

                        <!-- Note -->
                        <div class="form-group">
                            <label for="note">Note</label>
                            <textarea class="form-control" th:value="${studente.note}" name="note" id="note"
                                rows="2"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancella</button>
                        <button type="submit" class="btn btn-success">Salva Modifiche</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modale Conferma Reset Campi -->
    <div class="modal fade" id="resetConfirmModal" tabindex="-1" role="dialog" aria-labelledby="resetConfirmModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetConfirmModalLabel">Conferma Reset</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    Sei sicuro di voler RESETTARE TUTTI i campi?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="button" class="btn btn-danger" id="confirmReset">Resetta</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modale  Vedi Questionari -->
    <div class="modal fade" id="questionariModal" tabindex="-1" role="dialog" aria-labelledby="questionariModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="questionariModalLabel">Dettagli Questionari</h5>
                    <button class="close" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <table id="tab-last-quest" class="table table-striped table-bordered table-sm" style="width: 100%;"
                        data-toggle="table" data-locale="it-IT">
                        <thead>
                            <tr>

                                <th>Categoria</th>
                                <th>Nome</th>
                                <th>Data</th>
                                <th>Punteggio</th>
                                <th>Tempo</th>
                                <th class="text-center">PDF</th> <!-- non toccare questo apertura modale pdf -->
                            </tr>
                        </thead>
                        <tbody id="lista-esiti"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button onclick="location.reload()" class="btn btn-secondary"
                        data-bs-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fine modale vedi questionari -->


    <!-- Modale PDF -->
    <div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pdfModalLabel">Questionario PDF</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <iframe id="pdfFrame" src="" width="100%" height="600px"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>


    <script src="/jquery/jquery-3.7.1.min.js"></script>
    <script src="/bootstrap/popper.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script src="/pagDinamiche-filtriRicerca.js"></script>
    <!-- stesso JS di AQ-2024.07.08-Ges-Questionari (esitiScript.js) -->
    <script src="/bootbox.all.min.js"></script>
    <script src="/gesStudentiAdmin.js"></script>

</body>

</html>