<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-table.min.css">
    <link rel="icon" type="image/x-icon" href="/img/RAD_Favicon.webp">
    <script src="/objQuest.js"></script>
    <script>
        const quest = new Quest();
        quest.idQst = '[[${ quest.idQst }]]';
        quest.titolo = '[[${ quest.titolo }]]';
        quest.categoria = { idCat: '[[${ quest.categoriequest.idCat }]]', nome: '[[${ quest.categoriequest.nome }]]' };

        let domanda;
        let risposta;
    </script>
    <title>Gestione</title>
</head>
<body>

    <nav></nav><br>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Impostazioni Test
                    </div>
                    <div class="card-body">
                        <label for="type">Categoria</label>
                        <select id="type" name="type" style="padding: 10px; width: 100%;">
                            <option value="" disabled selected> -Selezione un elemento- </option>
                            <option th:each="categorie : ${listaCategorie}" 
                                th:text="${categorie.nome}" th:value="${categorie.idCat}"
                                th:selected="${quest.categoriequest.idCat==categorie.idCat}">
                            </option>
                        </select>
                    </div>
                    <div class="card-body">
                        <label for="titolo">Titolo</label>
                        <input id="titolo" name="titolo" type="text" th:value="${quest.titolo}"
                        style="padding: 10px; width: 100%;">
                    </div>
                    <div class="card-footer">
                        <button type="button" onclick="salvaTest()" 
                        id="btn_salva_test" class="btn btn-primary" disabled>Salva</button>
                    </div>
                </div>
            </div>
        </div>
        <br>




        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-2">
                                Elenco domande
                            </div>
                            <div class="col-md-2">
                                <button id="bottone_aggiungi_domanda" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#modale-aggiungi-domanda" disabled>
                                    Aggiungi Domanda</button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush" id="elenco-domande">
                            <li class="list-group-item" th:each="domanda : ${quest.domanda}" >
                                <script>
                                    domanda = new Domanda();
                                    domanda.idQstDet = '[[${domanda.idQstDet}]]';
                                    domanda.domanda = '[[${domanda.domanda}]]';
                                </script>
                                <details>
                                    <summary th:id="${domanda.idQstDet}" th:text="${domanda.domanda}" ></summary>
                                    <div>
                                        <hr>
                                        <button class="btn btn-outline-primary" data-bs-toggle="modal"
                                            data-bs-target="#modale-modifica-domanda" th:onclick="popolaModale([[${domanda}]])">Modifica</button>
                                        <button class="btn btn-outline-danger" data-bs-toggle="modal"
                                            data-bs-target="#modale-elimina-domanda">Elimina</button>
                                        <div class="mb-3 mt-3"></div>
                                        <ol class="list-group list-group-numbered">
                                            <th:block th:each="risposta : ${domanda.risp}">
                                                <script>
                                                    ris = new Risposta();
                                                    ris.idAns = '[[${risposta.idAns}]]';
                                                    ris.risposta = '[[${risposta.risposta}]]';
                                                    ris.corretta = '[[${risposta.corretta}]]';
                                                    domanda.risposte.push(ris);
                                                </script>
                                                <li th:class="${risposta.corretta} ? 'list-group-item list-group-item-success' : 
                                                'list-group-item list-group-item-danger'"
                                                    th:text="${risposta.risposta}">
                                                </li>
                                            </th:block>
                                        </ol>
                                    </div>
                                </details>
                                <script>
                                    quest.domande.push(domanda);
                                </script>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

  






<!-- Toasts Test Aggiunto-->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="salvaOk" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body bg-success">
          Salvataggio eeguito correttamente
        </div>
      </div>
    </div>
<!-- Fine Toasts Test Aggiunto-->

<!-- Toast Test Non Aggiunto-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="salvaErr" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body bg-danger">
        Errore nel salvataggio
      </div>
    </div>
  </div>
<!-- Fine Toasts Test Non Aggiunto -->

<!-- Modale Elimina Domanda -->
    <div class="modal fade" tabindex="-1" id="modale-elimina-domanda">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Elimina Domanda</h5>
                </div>
                <div class="modal-body">
                    <p>Sei sicuro di voler eliminare la domanda?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Chiudi</button>
                    <button type="submit" class="btn btn-danger">Elimina</button>
                </div>
            </div>
        </div>
    </div>
<!-- FINE Modale Elimina Domanda -->





<!-- Modale Modifica Domanda -->
    <div class="modal fade" id="modale-modifica-domanda">
        <div class="modal-dialog modal-dialog-centered modal-xl ">
            <div class="modal-content">
                <form action="modificadomanda" method="get">
                    <div class="modal-header" style="width: 100%;">
                        <h5 class="modal-title">Modifica Domanda</h5>
                    </div>
                    <div class="modal-body" style="background-color: aliceblue;">
                        <div class="input-group input-group-sm mb-1">
                            <label class="input-group-text col-5" for="textAreaDomanda">
                                Domanda
                            </label>
                            <textarea name="domanda_inserita" id="textAreaDomanda" class="form-control w-100"></textarea>
                            <input type="hidden" th:value="${quest.idQst}"  id="id_questionario" name="id_questionario"/>
                            <input type="hidden" id="id_domanda" name="id_domanda"/>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                            <button class="btn btn-primary btn-sm"
                                onclick="aggiungiRisposta('elenco-risposte')">
                                Aggiungi Risposta
                            </button>
                            </div>
                        </div>
                        <div class="mb-3 mt-3"></div>
                        <div id="elenco-risposte">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-1 col-10 mt-3 mx-auto">
                            <button type="submit" class="btn btn-primary">Modifica</button>
                        </div>
                        <div class="d-grid gap-2 col-10 mt-2 mx-auto">
                            <button type="reset" class="btn btn-warning">Pulisci</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- FINE MODALE Modifica Domanda -->

<!-- Modale Aggiungi Domanda -->
    <div class="modal fade" id="modale-aggiungi-domanda">
        <div class="modal-dialog modal-dialog-centered modal-xl ">
            <div class="modal-content">
                <form action="savenuovadomanda" method="get">
                    <input type="hidden" name="id_quest" th:value="${quest.idQst}"/>
                    <div class="modal-header">
                        <h5 class="modal-title">Aggiungi Domanda</h5>
                    </div>
                    <div class="modal-body" style="background-color: aliceblue;">
                        <div class="input-group input-group-sm mb-1">
                            <label class="input-group-text col-5" for="nuova-domanda">
                                Domanda
                            </label>
                            <textarea name="domanda_inserita" class="form-control w-100" id="nuova-domanda" required></textarea>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="button" class="btn btn-primary btn-sm"
                                    onclick="aggiungiRisposta('nuovo-elenco-risposte')"
                                    value="Aggiungi Risposta">
                            </div>
                        </div>
                        <div class="mb-3 mt-3"></div>

                        <div id="nuovo-elenco-risposte">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <input type="text" class="form-control col-6" name="risposta"
                                            value="" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="1" name="corretta" id="corretta">
                                        <label class="form-check-label" for="corretta">
                                            Corretta
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-1 col-10 mt-3 mx-auto">
                            <button type="submit" class="btn btn-primary" onclick="inviaCheckbox()">Aggiungi</button>
                        </div>
                        <div class="d-grid gap-2 col-10 mt-2 mx-auto">
                            <button type="reset" class="btn btn-warning">Pulisci</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- FINE MODALE Aggiungi Domanda -->


  <script src="/jquery/jquery-3.7.1.min.js"></script>
  <script src="/bootstrap/popper.min.js"></script>
  <script src="/bootstrap/bootstrap.min.js"></script>
  <script src="/js/gestQuest.js"></script>

    </body>
</html>