<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-table.min.css">
    <link rel="icon" type="image/x-icon" href="/img/RAD_Favicon.webp">
    <title>Gestione</title>
</head>
<body>



        <script src="jquery/jquery-3.7.1.min.js"></script>
        <script src="bootstrap/popper.min.js"></script>
        <script src="bootstrap/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
    
    </body>
</html>