<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-table.min.css">
    <link rel="icon" type="image/x-icon" href="/img/RAD_Favicon.webp">
    <title>Gestione</title>
</head>
<body>

    <nav></nav><br>


    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Impostazioni Test
                    </div>
                    <div class="card-body">
                        <label for="">Categoria</label>
                        <select name="type" style="padding: 10px; width: 100%;">
                            <option disabled selected> -Selezione un elemento- </option>
                            <option th:each="categorie : ${listaCategorie}" <!--th:selected="${quest.categoriequest.idCat}"-->
                            th:text="${categorie.nome}" th:value="${categorie.nome}"></option>
                        </select>
                    </div>
                    <div class="card-body">
                        <label for="">Titolo</label>
                        <input id="titolo" type="text" th:value="${quest.titolo}" style="padding: 10px; width: 100%;">
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Salva</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-2">
                                Elenco domande
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" 
                                    data-bs-target="#modal-new-domanda">Aggiungi Domanda</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" id="elenco-domande">
                            <li class="list-group-item" th:each="domanda : ${quest.domanda}" >
                                <details>
                                    <summary th:text="${domanda.domanda}" ></summary>
                                    <div>

                                        <hr>
                                        <button class="btn btn-outline-primary" data-bs-toggle="modal"
                                            data-bs-target="#modal-mod-domanda" onclick="modDomanda()">Modifica</button>
                                        <button class="btn btn-outline-danger" data-bs-toggle="modal"
                                            data-bs-target="#modal-del-domanda" onclick="delDomanda()">Elimina</button>
                                        <div class="mb-3 mt-3"></div>
                                        <ol class="list-group list-group-numbered">
                                            <li th:each="risposta : ${domanda.risp}" th:class="${risposta.corretta} ? 'list-group-item list-group-item-success' : 
                                            'list-group-item list-group-item-danger'" th:text="${risposta.risposta}"></li>
                                        </ol>
                                    </div>
                                </details>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    


    



 


        <script src="jquery/jquery-3.7.1.min.js"></script>
        <script src="bootstrap/popper.min.js"></script>
        <script src="bootstrap/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
    
    </body>
</html>