<!DOCTYPE html>
<html lang="it">

<!-- Ross & Nassim -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home Admin</title>
    <!-- bootstrap link -->
    <link rel="stylesheet" href="css/StyleRoss.css">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- bootstrap link -->
</head>

<body>

    <!-- Bottone di logout -->
    <div class="d-flex justify-content-end">
        <form action="/auth/logout" method="get">
            <button type="submit" id="logoutBtn">Logout</button>
        </form>
    </div>
    <h1>Benvenuto nella tua Home admin</h1>
    <!-- Inizio Nav -->
    <div class="main-content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="dropdown">
                    <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Questionari
                    </a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu1">
                        <li><a href="/quest/esiti">Gestione Categorie</a></li>
                        <li><a href="/quest/esiti">Gestione Questionari</a></li>
                        <li><a href="/quest/esiti">Esito Questionari</a></li>
                        <li><a href="/quest/esiti">Esito Ultimi Questionari</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Studenti
                    </a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu2">
                        <li><a href="/ges_studenti/">Elenco Studenti</a></li>
                        <li><a href="/ges_studenti/">Ricerca Studente</a></li>
                        <li><a href="/ges_studenti/">Aggiungi Nuovo Studente</a></li>
                        <li><a href="/homeAdmin/calendario">Calendario Studenti</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Corsi
                    </a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu3">
                        <li><a href="/ges_corsi/">Elenco Corsi</a></li>
                        <li><a href="/ges_corsi/">Ricerca Corsi</a></li>
                        <li><a href="/ges_corsi/">Aggiungi Nuova Corso</a></li>
                        <li><a href="/homeAdmin/calendario">Calendario Corsi</a></li>
                    </ul>
                </li>
                <a class="dropdown" href="/homeAdmin/calendario">Calendario</a>
            </ol>
        </nav>
    </div>
    <!-- Fine Nav -->

    <hr>
    <span>Studenti</span>
    <button>Modale New Studente</button>
    <a href="/ges_studenti/">Vai a Studenti</a>
    <span><br>--------<br></span>
    <span>Corsi</span>
    <a href="/ges_corsi/">Vai a Corsi</a>



    <script src="jquery/jquery-3.7.1.min.js"></script>
    <script src="bootstrap/popper.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <!-- Bootstrap JS e jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>