<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap-table.min.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/root.css">
</head>

<body>
    <nav class="navbar">
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/homeAdmin/" class="navbar__link">Home</a>
            </li>
            <li class="navbar__item">
                <a href="/ges_studenti/" class="navbar__link">Studenti</a>
            </li>
            <li class="navbar__item">
                <a href="/ges_corsi/" class="navbar__link">Corsi</a>
            </li>
            <li class="navbar__item">
                <a href="/quest/lista" class="navbar__link">Questionari</a>
            </li>
            <li class="navbar__item">
                <a href="/quest/esiti" class="navbar__link">Esiti</a>
            </li>
            <li class="navbar__item">
                <a id="logout-btn" href="/auth/logout">Log Out</a>
            </li>
        </ul>
    </nav>

    <div class="main-content main-content-offset">

        <div class="container">
            <h2>Home Admin</h2>
            <hr>

            <div class="card">
                <div class="card-header">
                    <h3>Ultimi Studenti</h3>
                </div>
                <div class="card-body">
                    <table id="myTable" class="table" style="width: 100%;" data-toggle="table" data-locale="it-IT">
                        <thead style="--bs-table-bg: #588a50;">
                            <tr>
                                <th>Ruolo</th>
                                <th>Nominativo</th>
                                <th>Email</th>
                                <th>Corso</th>
                                <th class="text-center">Dettaglio</th>
                                <th class="text-center">Questionari</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr>

            <div class="card">
                <div class="card-header">
                    <h3>Ultimi Questionari</h3>
                </div>
                <div class="card-body">
                    <table id="myTable" class="table" style="width: 100%;" data-toggle="table" data-locale="it-IT">
                        <thead style="--bs-table-bg: #588a50;">
                            <tr>
                                <th>Ruolo</th>
                                <th>Nominativo</th>
                                <th>Email</th>
                                <th>Corso</th>
                                <th class="text-center">Dettaglio</th>
                                <th class="text-center">Questionari</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>

</body>

</html>