<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <!-- Rende la pagina reattiva, adattando il layout alla larghezza del dispositivo -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Titolo della pagina visualizzato nella scheda del browser -->
  <title>Registrazione ANT</title>
  <!-- Collegamento al file CSS esterno per la stilizzazione della pagina -->
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <!-- Inizio del corpo del documento HTML -->
  <div class="container">
    <div class="orangeBG">
      <div class="box signin">
        <h2>Hai già un account?</h2>
        <button class="signinbtn">Accedi</button>
      </div>
      <div class="box signup">
        <h2>Vuoi creare un account?</h2>
        <button class="signupbtn">Registrati</button>
      </div>
    </div>
    <div class="form-box">
      <div class="form signinform">
        <form>
          <h3>Accedi</h3>
          <input type="text" placeholder="E-mail">
          <input type="password" placeholder="Password">
          <input type="submit" value="Accedi">
          <a href="#">Password dimenticata?</a>
        </form>
      </div>
      <div class="form signupform">
        <form>
          <h3>Registrati</h3>
          <input type="text" placeholder="Nome">
          <input type="text" placeholder="Cognome">
          <input type="email" placeholder="Indirizzo email">
          <input type="password" placeholder="Password">
          <input type="password" placeholder="Conferma Password">
          <input type="submit" value="Registrati">
        </form>
      </div>
    </div>
  </div>

  <!-- Collegamento al file JavaScript esterno script.js -->
  <script src="jquery/jquery-3.7.1.min.js"></script>
  <script src="bootstrap/popper.min.js"></script>
  <script src="bootstrap/bootstrap.min.js"></script>
  <script src="js/index.js"></script>
  <!-- Fine del corpo del documento HTML -->
</body>
</html>