<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/img/RAD_Favicon.webp">
</head>
<body>








    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Ingresso
                </div>
                <div class="card-body">
                        <div>
                            <ul class="list-group list-group-flush">
                                <li th:each="questionari : ${listaQuestionari}" th:if="${questionari.categoriequest.idCat}==I" th:text="${questionari.titolo}" class="list-group-item"></li>
                                <a href="dettaglio-test.html" class="btn float-end">...</a>
                            </ul>
                        </div>
                </div>
            </div>
        </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Corso
                    </div>
                    <div class="card-body">
                            <div>
                                <ul class="list-group list-group-flush">
                                    <li th:each="questionari : ${listaQuestionari}" th:if="${questionari.categoriequest.idCat}==C" th:text="${questionari.titolo}" class="list-group-item"></li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
    </div>







    
    <script src="jquery/jquery-3.7.1.min.js"></script>
    <script src="bootstrap/popper.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>