<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserisci Nuova Quest</title>
</head>
<body>
    <h2>Inserisci Nuova Quest</h2>
    <form action="/NuovaQuest" method="post">
        <label for="titolo">Titolo della Quest:</label><br>
        <input type="text" id="titolo" name="titolo" required><br><br>
        
        <label for="categoriaId">Categoria:</label><br>
        <select id="categoriaId" name="categoriaId" required>
    
        </select><br><br>
        
        <button type="submit">Invia</button>
    </form>
</body>
</html>
