<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo Studente</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/root.css">
</head>

<body>
    <nav class="navbar">

        <ul class="navbar__menu">
            <li class="navbar__item">

                <div class="logo"></div>
                <hr>
            </li>
            <li class="navbar__item">
                <a href="/homeStud/" class="navbar__link" id="home-studenti-link">Home</a>
            </li>
            <li class="navbar__item">
                <a href="/homeStud/profilo" class="navbar__link" id="profilo-studenti-link">Profilo</a>
            </li>

            <li class="navbar__item">
                <hr>
                <a href="/auth/logout" class="navbar__link navbar__link--bold">Log Out</a>
            </li>
        </ul>
    </nav>

    <div class="main-content">
        <div class="container">
            <div class="card full-width">
                <div class="card-header">
                    <h3>Benvenuto <span th:text="${session.user.studente.nome}">Nome Utente</span>,
                        <br>qui potrai visualizzare e modificare i tuoi dati:
                    </h3>
                </div>
                <div class="card-body">
                    <form id="profilo-form" action="/homeStud/modificaProfilo" method="POST">
                        <div class="row email-center">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="usernameEmail">Email</label>
                                    <input type="email" readonly class="email form-control form-control-plaintext"
                                        name="usernameEmail" th:value="${session.user.usernameEmail}" required>
                                    <i id="error-mail-reg" class="error-email d-none text-danger">Inserire una e-mail
                                        valida</i>
                                    <i id="correct-mail-reg" class="correct-email d-none text-success">Accettabile</i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <input type="text" readonly class="form-control form-control-plaintext" name="nome"
                                        th:value="${session.user.studente.nome}" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cognome">Cognome</label>
                                    <input type="text" readonly class="form-control form-control-plaintext"
                                        name="cognome" th:value="${session.user.studente.cognome}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dataNascita">Data di Nascita</label>
                                    <input type="date" readonly class="data-nascita form-control form-control-plaintext"
                                        id="dataNascita" name="dataNascita"
                                        th:value="${session.user.studente.dataNascita}" required>

                                    <i id="error-dataNascita" class="error-dataNascita d-none text-danger">La data di
                                        nascita non può
                                        essere
                                        oggi o
                                        in data
                                        futura</i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cap">CAP</label>
                                    <input id="cap" type="text" readonly class="cap form-control form-control-plaintext"
                                        name="cap" maxlength="5" th:value="${session.user.studente.cap}" required>

                                    <i id="error-cap" class="error-cap d-none text-danger">CAP non valido</i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="provincia">Provincia</label>
                                    <input type="text" readonly class="provincia form-control form-control-plaintext"
                                        name="provincia" th:value="${session.user.studente.provincia}" required>
                                    <i id="error-provincia-ft" class="error-provincia d-none text-danger">Inserisci la
                                        sigla
                                        di
                                        una provincia (es. Roma = RO)</i>
                                    <i id="correct-provincia-ft"
                                        class="correct-provincia d-none text-success">Accettabile</i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="telefono">Telefono</label>
                                    <input id="phone" type="text" readonly
                                        class="telefono form-control form-control-plaintext" name="telefono"
                                        maxlength="10" th:value="${session.user.studente.telefono}" required>

                                    <i id="error-phone" class="error-phone d-none text-danger">Numero di telefono non
                                        valido</i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="note">Note</label>
                                    <textarea name="note" placeholder="Note" rows="4"
                                        class="form-control form-control-plaintext"
                                        th:text="${session.user.studente.note}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                                <p>
                                <h5>N.B:<h5>
                                        <br>
                                        <h6>Per modificare la propria password cliccare su modifica</h6>
                                        </p>
                                        <hr>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 d-none" id="new-pass-group">
                                <div class="form-group">
                                    <label for="newpass">Nuova password</label>
                                    <input id="newpass" type="password" readonly
                                        class="password form-control form-control-plaintext" name="newpass"
                                        placeholder="Nuova Password">

                                    <i id="error-pass-profiloStud" class="error-pass d-none text-danger">
                                        Non accettabile, la password deve contenere:
                                        <ul id="error-list-profiloStud" class="error-list">
                                            <li id="error-lowercase-ft" class="error-lowercase d-none">almeno un
                                                carattere
                                                minuscolo (abc)</li>
                                            <li id="error-uppercase-ft" class="error-uppercase d-none">almeno un
                                                carattere
                                                maiuscolo (ABC)</li>
                                            <li id="error-number-ft" class="error-number d-none">almeno un carattere
                                                numerico (123)</li>
                                            <li id="error-length-ft" class="error-length d-none">almeno 8 caratteri</li>
                                        </ul>
                                    </i>
                                    <i id="correct-pass-profiloStud"
                                        class="correct-pass d-none text-success">Accettabile</i>

                                </div>
                            </div>

                            <div class="col-md-6 d-none" id="confirm-pass-group">
                                <div class="form-group">
                                    <label for="checkpass">Conferma la tua password</label>
                                    <input id="checkpass" type="password" readonly
                                        class="conferma-password form-control form-control-plaintext" name="checkpass"
                                        placeholder="Conferma Password">

                                    <i id="error-checkpass" class="error-checkpass d-none text-danger">Le password non
                                        corrispondono</i>
                                    <i id="correct-checkpass" class="correct-checkpass d-none text-success">Le password
                                        corrispondono</i>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button id="btn-mod-profilo" type="button">Modifica</button>
                            <button id="btn-close-mod" type="button" class="delete-btn d-none">Annulla</button>
                            <input id="submit-btn" class="d-none" type="submit" value="Salva Modifiche" disabled>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/jquery/jquery-3.7.1.min.js"></script>
    <script src="/bootstrap/popper.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script src="/js/checkInput.js"></script>
    <script src="/js/studente.js"> </script>
    <script src="/js/profiloStud.js"> </script>
</body>

</html>