<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <div class="card-body form-group d-flex flex-column align-items-center my-4">
            <div class="row mb-3 w-50">
                <a href="doQuestionario" class="btn btn-primary btn-lg">Inizia Questionario</a>
                <!-- <a href="studenti/" class="btn btn-primary btn-lg">Accedi Studente</a> -->
            </div>
            <h1>Questionari svolti : </h1>
            <div class="row mb-3 w-50">

                <table id="tab-last-quest" class="table table-striped table-bordered table-sm" style="width: 100%;"
                    data-toggle="table" data-locale="it-IT">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="record : ${session.studente.questionari}">
                            <td th:text="${record.nome}"></td>
                            <td th:text="${record.data}"></td>
                            <td><button class="btn btn-primary w-75">Vedi</button></td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>
    </div>
</body>


<script src="/jquery/jquery-3.7.1.min.js"></script>
<script src="/bootstrap/popper.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>
<script src="/bootstrap/bootstrap-table.min.js"></script>
<script src="/bootstrap/bootstrap-table-locale-all.min.js"></script>

</html>