<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Studenti</title>
    <!-- bootstrap link -->
    <link rel="stylesheet" href="css/StyleRoss.css">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- bootstrap link -->

</head>

<body>
    <!-- Inizio Nav -->
    <div class="main-content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item "><a href="#">Questionari</a></li>
                <li class="breadcrumb-item"><a href="Corso.html">Corsi</a></li>
                <a class="breadcrumb-item" href="#">Calendario</a>
            </ol>
        </nav>
    </div>
    <!-- Fine Nav -->

    <!-- Inizio filtro ricerca -->

    <div class="main-content">
        <div class="custom-margin">
            <div class="table-wrapper">
                <div class="card">
                    <div class="card-header">
                        <h5>Filtri Ricerca</h5>

                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="">Nome Utente</label>
                                    <input type="text" class="form-control" placeholder="Nome e Cognome">
                                </div>
                                <div class="col-md-6">
                                    <label for="">Stato</label>
                                    <select name="type" class="custom-select">
                                        <option disabled selected> -Selezione un elemento- </option>
                                        <option value="I"> Studente </option>
                                        <option value="C"> Guest </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Classe</label>
                                    <select name="type" class="custom-select">
                                        <option disabled selected> -Selezione un elemento- </option>
                                        <option> -Nessuna- </option>
                                        <option value="I"> Gol Aprile 2024 </option>
                                        <option value="C"> Gol Ottobre 2023 </option>
                                        <option value="C"> Fondo Impresa 2023 </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary">Cerca</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Fine filtro ricerca -->

    <!-- inizio main -->
    <div class="main-content">
        <div class="custom-margin">
            <div class="col-md-12">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                                <h2 class="ml-lg-2">Elenco Studenti</h2>
                            </div>

                            <!-- Pulsante per attivare il modale -->
                            <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                                <button type="button" class="btn btn-aggiungi" data-toggle="modal"
                                    data-target="#addEmployeeModal">
                                    <i class="material-icon">&#xE147;</i>
                                    <span>Aggiungi nuovo studente</span> </button>
                            </div>


                        </div>
                    </div>

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Stato</th>
                                <th>Nominativo</th>
                                <th>Email</th>
                                <th>Corso</th>
                                <th>Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="stud : ${studenti}">
                                <td></td>
                                <!-- <td th:text="${stud.stato}"></td> NELLO STATO MANCA VISUALIZZAZIONE  -->
                                <td th:text="${stud.nome + ' ' + stud.cognome}"></td>
                                <td></td>
                                <!-- <td th:text="${stud.email}"></td>  NELL'EMAIL MANCA VISUALIZZAZIONE -->
                                <td></td>
                                <!-- <td th:text="${stud.corso}"></td>  NEL CORSO MANCA VISUALIZZAZIONE -->
                                <td>
                                    <a href="#" class="edit" data-toggle="modal">
                                        <i class="material-icons" data-toggle="tooltip" title="Modifica">&#xE254;</i>
                                    </a>
                                    <a href="#" class="delete" data-toggle="modal">
                                        <i class="material-icons" data-toggle="tooltip" title="Cancella">&#xE872;</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <!-- Inizio footer   -->
                    <div class="clearfix">
                        <div class="hint-text text-center">Pagina <b>3</b> di <b>25</b></div>
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a href="#" class="page-link">Precedente</a></li>
                            <li class="page-item"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item active"><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" class="page-link">5</a></li>
                            <li class="page-item"><a href="#" class="page-link">Successiva</a></li>
                        </ul>
                    </div>


                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="footer-in pagination justify-content-center">
                                <p class="mb-0">&copy 2024 Rete Artigianato Digitale.</p>
                            </div>
                        </div>
                    </footer>
                    <!-- Fine footer   -->


                    <!-- VERIFICARE SE AGGIUNGE CAMPI, VEDERE APPUNTI MATTIA -->
                    <!-- Inizio modale aggiungi -->
                    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog"
                        aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form action="/new_std" method="post">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addEmployeeModalLabel">Aggiungi Studente</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="nome">Nome</label>
                                            <input type="text" class="form-control" id="nome" name="nome" required>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="cognome">Cognome</label>
                                                <input type="text" class="form-control" id="nome" name="nome" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email" name="email"
                                                    required>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="numero">Numero</label>
                                                    <input type="text" class="form-control" id="nome" name="nome"
                                                        required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="indirizzo">Indirizzo</label>
                                                    <textarea class="form-control" id="indirizzo" name="indirizzo"
                                                        required></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="telefono">Telefono</label>
                                                    <input type="text" class="form-control" id="telefono"
                                                        name="telefono" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="reset" class="btn btn-secondary"
                                                    data-dismiss="modal">Cancella</button>
                                                <button type="submit" class="btn btn-success">Aggiungi</button>
                                            </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Fine modale aggiungi -->


                </div>
            </div>
        </div>
    </div>


    <script src="jquery/jquery-3.7.1.min.js"></script>
    <script src="bootstrap/popper.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <!-- Bootstrap JS e jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>


</html>