<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <div class="card-body form-group d-flex flex-column align-items-center my-4">
            <div class="row mb-3 w-50">
                <a href="doQuestionario" class="btn btn-primary btn-lg">Inizia Questionario</a>
                <!-- <a href="studenti/" class="btn btn-primary btn-lg">Accedi Studente</a> -->
            </div>
            <h1>Questionari svolti : </h1>
            <div class="row mb-3 w-50">

                <!-- WIP LISTA QUESTIONARI DELL'UTENTE -->
            </div>
        </div>
    </div>
</body>


<script src="/jquery/jquery-3.7.1.min.js"></script>
<script src="/bootstrap/popper.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>
<script src="/bootstrap/bootstrap-table.min.js"></script>
<script src="/bootstrap/bootstrap-table-locale-all.min.js"></script>

</html>